/*-----------------------------------Fonts and Colours-------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300;400;500;600;700;800;900&family=Patrick+Hand&display=swap");
/*---Lime Green #adc56b;

Charcoal: #333934;

Cream: #FFFDE4;

Dark Green: #0f542e;---*/

nav {
    background-color: #fffde4;
    font-weight: 400;
    font-size: 16px;
}
nav button i {
    color: #333934;
}

body {
    background-color: #adc56b;
    color: #333934;
    font-family: "Montserrat", sans-serif;
}
#heroBody {
    background-color: #333934;
    color: #fffde4;
}
/*-h2 {
    color: #333934;
}-*/

.indie {
    font-family: "Indie Flower", cursive;
    text-decoration: underline;
}
.biggerFont {
    font-size: 180%;
}
.chartMeat {
    background-color: #333934;
}
.chartMeatLight {
    background-color: #6c816f;
}
.chartPesca {
    background-color: #9dfcab;
}
.chartVeggie {
    background-color: #21d03e;
}
.chartVegan {
    background-color: #0f542e;
}
/*-----------------------------------General Page Layout-------------------------*/
.page-container {
    position: relative;
    min-height: 100vh;
}

.contentBody {
    padding-bottom: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fffde4;
    padding-top: 10px;
    height: 80px;
    color: #333934;
}

/*-----------------------------------Header-------------------------*/
.logoBanner {
    position: relative;
    background-image: url("/assets/images/limes.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 300px;
}

.logoBanner h4 {
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin: 0 auto;
    padding: 40px 10px 20px 10px;
    width: 40%;
}
h1 {
    font-size: 40px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 20px;
    text-align: center;
    padding: 10px 30px 10px 30px;
}

@media only screen and (min-width: 576px) {
    h1 {
        font-size: 70px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 25px;
    }

    .logoBanner {
        background-image: url("/assets/images/limes.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    }
    .logoBanner h4 {
        font-size: 60px;
        font-weight: 900;
        text-align: center;
        margin-top: 50px;
        padding: 20px 10px;
        width: 30%;
    }
}

/*-----------------------------------Footer-------------------------*/

.copyright {
    text-align: left;
}
.copyright p {
    padding: 1em 0 1em 0;
}

.socialMedia {
    text-align: right;
}
.socialMedia i {
    font-size: 40px;
    padding: 10px 4px;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-instagram-square {
    color: #c13584;
}
.fa-twitter-square {
    color: #1da1f2;
}

/*-----------------------------------Index and getting started page specific-------------------------*/

.sectionHeading {
    background: linear-gradient(0deg, #aac466, transparent);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.sectionHeading h3 {
    padding-top: 20px;
    text-align: center;
}
.reasonsEnvironment,
.reasonsAnimals,
.reasonsHealth,
.gettingStartedSlow,
.gettingStartedVeganMeat,
.gettingStartedProtein {
    padding-bottom: 20px;
}
.reasons,
.gettingStarted {
    text-align: center;
}
.reasons h4,
.gettingStarted h4 {
    text-decoration: underline;
}
.reasonsEnvironment,
.gettingStartedSlow {
    background: linear-gradient(0deg, #fffde4, #aac466);
    padding: 15px 10px;
}
.reasonsAnimals,
.gettingStartedVeganMeat {
    background: linear-gradient(0deg, #aac466, #fffde4);
    padding: 15px 10px;
}
.reasonsHealth,
.gettingStartedProtein {
    background: linear-gradient(0deg, #fffde4, #aac466);
    padding: 15px 10px 80px 10px;
}
/*-----------------------------------Index and Getting Started page media-------------------------*/
.reasonsEnvironment .chartStyle {
    height: 30px;
    border-radius: 20px;
}
.climateStyle {
    padding: 10px;
}
.climateStyle p {
    padding: 10px;
}
.reasonsImage img,
.gettingStartedImage img {
    display: inline-block;
    max-width: 300px;
    height: auto;
    vertical-align: middle;
    padding: 10px;
    border-radius: 50%;
    object-fit: fill;
}
/*-----------------------------------Page 2 Getting Started Sign Up button and Modal-------------------------*/

.gettingStartedSignUp {
    color: #333934;
    text-decoration: underline;
    font-weight: 600;
    background: transparent;
    border: none;
}
.gettingStartedSignUp:hover {
    background-color: #333934;
    color: #fffde4;
    border-radius: 20px;
}
.modal-content {
    background-color: #fffde4;
}
/*-----------------------------------LocalHero!-------------------------*/
.jumbotron {
    background-color: #fffde4;
    border-radius: 0;
}
.jumbotronText h3,
.jumbotronText p {
    color: #333934;
    text-align: right;
    padding: 0 15px;
}
.heroHeading {
    text-align: center;
}
.superHeroImage img {
    display: inline-block;
    max-width: 250px;
    height: auto;
    padding: 10px 10px 10px 60px;
    object-fit: fill;
}

.galleryStyle {
    width: 90%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
}
.localHeroText {
    width: 90%;
    height: auto;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
}
@media only screen and (min-width: 576px) {
    .galleryStyle,
    .localHeroText {
        width: 70%;
    }
}
@media only screen and (min-width: 982px) {
    .galleryStyle,
    .localHeroText {
        width: 50%;
    }
}
.galleryItem {
    border-radius: 5%;
}
.galleryItem span,
.galleryItem p {
    color: #333934;
    background-color: #fffde4;
    border-radius: 20px;
    padding: 2px 5px;
}

.localHeroSignUp {
    background-color: #333934;
    color: #fffde4;
    border: 2px solid #fffde4;
    border-radius: 20px;
}
.localHeroSignUp:hover {
    background-color: #fffde4;
    color: #333934;
    border: 2px solid #333934;
    border-radius: 20px;
}

.formAreaModal {
    color: #333934;
    width: 90%;
    background-color: #fffde4;
    border-radius: 2%;
}
/*-----------------------------------Form-------------------------*/
.signUpFormBody {
    background-image: url("/assets/images/limes.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    z-index: -1;
}

.formArea {
    width: 90%;
    background-color: #fffde4;
    border-radius: 2%;
    padding: 1.5em 1.5em;
    margin: 10px auto;
}

.inputStyle {
    background-color: #aac466;
    border: 2px solid #333934;
}
.inputStyle:hover {
    color: #aac466;
    background-color: #333934;
    border: 2px solid #aac466;
}
.consentButton {
    padding: 10px 0px;
}

@media only screen and (min-width: 768px) {
    .formArea {
        margin: 20px auto;
        width: 50%;
        border-radius: 10px;
    }
    .aboutSection {
        margin: 0 auto;
        border-radius: 10px;
        background: linear-gradient(0deg, #aac466, transparent);
    }
}

.aboutSection {
    background: linear-gradient(0deg, #aac466, transparent);
    margin-bottom: 10px;
    width: 100%;
}
.aboutSection {
    width: 90%;
    margin: 0 auto;
}
.accordionStyle {
    background-color: #a9c164;
}
.buttonText {
    margin: 0 auto;
    width: 150px;
    border: 2px solid #333934;
    border-radius: 10px;
}
.buttonText:hover {
    margin: 0 auto;
    width: 150px;
    border: 2px solid #fffde4;
    border-radius: 10px;
    background-color: #333934;
    color: #fffde4;
}
.cardBodyTextArea {
    background-color: #333934;
    color: #fffde4;
    text-align: center;
}
.welcomeImage img {
    display: inline-block;
    max-width: 200px;

    vertical-align: middle;
    padding: 10px;
    object-fit: fill;
}
