/*-----------------------------------Fonts and Colours-------------------------*/
/*     #333934 - charcoal
       #21D03E - vegan green - darker/better
       
       #FFFDE4 - white green */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300;400;500;600;700;800;900&family=Patrick+Hand&display=swap');       
.veganGreen {
    color: #7DCEA0;
}
.colorCharcoal {
    color: #333934;
}
.veganCream {
    color: #FFFDE4;
}
.headerGreen {
    color: #0f542e;

}
nav {
    background-color: #FFFDE4;
    font-weight: 400;
    font-size: 16px;
    
}
nav button i {
    color: #333934;
}

body {
    background-color: #7DCEA0;
    color:  #333934;
    font-family: "Montserrat", sans-serif;
}
h2 {
    color: #333934;
}

.indie {
     font-family: "Indie Flower", cursive;
     text-decoration: underline;
}
.biggerFont {
    font-size: 180%;
}

/*-----------------------------------Header-------------------------*/

.logoBanner h1, .logoBanner h4 {
    margin-top: 10px;
    text-align: center;
    padding: 10px 10px;
    
}
h1{
    font-size: 40px;
}
h4 {
    font-size: 15px;
    margin: 10px 10px 30px 10px;
}

.logoHeading {
    margin-top: 30px;
}
@media only screen and (min-width : 576px) {
    h1 {
        font-size: 70px
    }
    h4 {
        font-size: 25px;
    }
}
    
    
        
    


.floatRight {
    align-content: right;
}





/*-----------------------------------Footer-------------------------*/

footer {
    position: fixed;
    bottom: 0;
    background-color: #FFFDE4;
    padding-top: 10px;
    height: 80px;
    
}
.copyright {
    text-align: left;

}
.copyright p {
    padding: 1em 0 1em 0;
}


.socialMedia {
    text-align: right;
    
}
.socialMedia i {
    font-size: 40px;
    padding: 10px 4px;
}

.fa-facebook-square {
    color: #3B5998;
}
.fa-instagram-square {
    color: #C13584;
}
.fa-twitter-square {
    color: #1DA1F2
}


/*-----------------------------------TEXT HERE!-------------------------*/
.accordionColorOne {
  background: linear-gradient(0deg, #FFFDE4, #7DCEA0)
}

.accordionColorTwo {
  background-color: #FFFDE4;
}

.accordionColorThree {
background: linear-gradient(0deg, #7DCEA0, #FFFDE4)
}
.cardBodyTextArea {
    background-color: #333934;
    color: #FFFDE4;
}
.welcomeImage img {
    max-width: 200px;
    height: auto;
}

.birdImage img {
    max-width: 200px;
    height: auto; 
}

.shoppingImage img {
    max-width: 200px;
    height: auto;
}
/*-----------------------------------TEXT HERE!-------------------------*/


.reasonsAnimals img, .reasonsHealth img {
    max-height: 240px;
    width: auto;
    border-radius: 50%;
}





/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/