/*-----------------------------------Fonts and Colours-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@300;400;500;600;700;800;900&family=Patrick+Hand&display=swap');       
.veganGreen {
    color: #7DCEA0;
}
.colorCharcoal {
    color: #333934;
}
.veganCream {
    color: #FFFDE4;
}
.headerGreen {
    color: #0f542e;

}
nav {
    background-color: #FFFDE4;
    font-weight: 400;
    font-size: 16px;
    
}
nav button i {
    color: #333934;
}

body {
    
    background-color: #adc56b;
    color:  #333934;
    font-family: "Montserrat", sans-serif;
}
h2 {
    color: #333934;
}

.indie {
     font-family: "Indie Flower", cursive;
     text-decoration: underline;
}
.biggerFont {
    font-size: 180%;
}
.chartMeat {
    background-color:  #333934;
}
.chartMeatLight {
    background-color:  #6C816F;
}
.chartPesca{
    background-color:  #9DFCAB;
}
.chartVeggie{
    background-color:  #21D03E;
}
.chartVegan{
    background-color:  #0f542e;
}
/*-----------------------------------Header-------------------------*/
.logoBanner {
    background-image: url("/assets/images/limes.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
}

.logoBanner h4 {
    margin-top: 0;
    text-align: left;
    margin: auto 0;
    padding: 30px 10px;
    width: 40%
}
h1{
    font-size: 40px;
}
h4 {
    font-size: 15px;
    text-align: center;
    padding: 10px 30px 10px 30px;
    
}

h3 {
    font-size: 25px;
}

@media only screen and (min-width : 576px) {
    h1 {
        font-size: 70px
    }
    h4 {
        font-size: 25px;
    }
    h3 {
        font-size: 30px;
    }
.logoBanner {
    background-image: url("/assets/images/limes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    }
}
    
.sectionHeading {
    padding-top: 20px;
    text-align: center;
    text-decoration: underline;
} 
.page-container{
    position: relative;
    min-height: 100vh;
}


.contentBody {
  padding-bottom: 60px;  
}



/*-----------------------------------Footer-------------------------*/
footer {
    
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFFDE4;
    padding-top: 10px;
    height: 80px;
    
}
.copyright {
    text-align: left;

}
.copyright p {
    padding: 1em 0 1em 0;
}


.socialMedia {
    text-align: right;
    
}
.socialMedia i {
    font-size: 40px;
    padding: 10px 4px;
}

.fa-facebook-square {
    color: #3B5998;
}
.fa-instagram-square {
    color: #C13584;
}
.fa-twitter-square {
    color: #1DA1F2
}

/*-----------------------------------Introduction!-------------------------*/
.card {
    border: none;
}
.accordionColorOne {
  background-color: #a9c164;
}

.accordionColorTwo {
  background-color: #FFFDE4;
}

.accordionColorThree {
background: linear-gradient(0deg, #aac466, #FFFDE4);
}
.buttonText {
    margin: 0 auto;
    width: 150px;
    border: 2px solid #333934;
    border-radius: 10px;
}
.buttonText:hover {
    margin: 0 auto;
    width: 150px;
    border: 2px solid #FFFDE4;
    border-radius: 10px;
    background-color:#333934;
    color: #FFFDE4
}
.cardBodyTextArea {
    background-color: #333934;
    color: #FFFDE4;
    text-align: center;
}
.welcomeImage img {
    max-width: 100px;
    height: auto;
}

.birdImage img {
    max-width: 70px;
    height: auto; 
}

.shoppingImage img {
    max-width: 120px;
    height: auto;
}
@media only screen and (min-width : 576px) {

.welcomeImage img {
    max-width: 150px;
    height: auto;
}

.birdImage img {
    max-width: 100px;
    height: auto; 
}

.shoppingImage img {
    max-width: 200px;
    height: auto;

}
}

.introduction, .reasonsEnvironment, .reasonsAnimals {
    padding-bottom: 20px;
     border-bottom: 5px solid #333934;
}
/*-----------------------------------Index Images-------------------------*/
.reasonsEnvironment .chartStyle {
    height: 30px;
    border-radius: 20px; 
}


.reasonsHealth img {
     display: inline-block;
    max-width: 60%;
    height: auto;
    vertical-align: middle;
    padding: 10px;
    border-radius: 50%;
    object-fit: fill;
    
}
.reasonsImage img {
    display: inline-block;
    max-width: 300px;
    height: auto;
    vertical-align: middle;
    padding: 10px;
    border-radius: 50%;
    object-fit: fill;
}
.reasons {
    text-align: center;
}
.reasonsHeading {
    
    background-color: #333934;
    color: #FFFDE4;
}


/*-----------------------------------Section 2 - Index Environment-----------------------*/

.reasonsEnvironment {
    background: linear-gradient(0deg, #FFFDE4, #aac466);
    padding: 15px 10px;
}






/*-----------------------------------Section 3 Index animals-------------------------*/

.reasonsAnimals {
    background: linear-gradient(0deg, #aac466, #FFFDE4);
    padding: 15px 10px;
}

.smallAnimalsHeading h4 {
   
    text-align: center;
}




/*-----------------------------------Section 4 Index Health-------------------------*/

.reasonsHealth {
    background: linear-gradient(0deg, #FFFDE4, #aac466);
    padding: 15px 10px 80px 10px;
}






/*-----------------------------------Page 2 Getting Started-------------------------*/

.gettingStartedImage img {
     display: inline-block;
    max-width: 300px;
    height: auto;
    vertical-align: middle;
    padding: 10px;
    border-radius: 50%;
    object-fit: fill;
}






/*-----------------------------------LocalHero!-------------------------*/
.jumbotron {
    background-color: transparent;
}
.localHeroJumbotron {
    background-image: url("/assets/images/oatslandscape.jpg");
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 300px;
    
}





/*-----------------------------------Form-------------------------*/
.signUpFormBody {
    background-image: url("/assets/images/limes.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    z-index: -1;
}

.formArea {
 
 width: 90%;
 background-color: #FFFDE4;
 border-radius: 2%;
 padding: 1.5em 1.5em;
 margin: 10px auto;
 
}

.inputStyle {
    background-color: #aac466;
}

.consentButton {
    padding: 10px 0px;
}

@media only screen and (min-width : 768px) {
  .formArea {
      margin: 20px auto;
      width: 50%;
      border-radius: 2%;
   }
}
.aboutSection {
    margin-bottom: 100px;
}
/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/








/*-----------------------------------TEXT HERE!-------------------------*/


